# Dependencies
vendor/
node_modules/
__pycache__/
venv/
env/
target/
build/
dist/

# Large files
*.zip
*.tar.gz
*.h5
*.pkl
*.model
*.weights

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.cpython-*.so
*.so
*.pyc
*.pxd
*.pyx
__pycache__/
